
/* @keyframes vertexCreate {
    0% {
        transform-origin: center;
        transform: scale(4);
    }
    100% {
        transform-origin: center;
        transform: scale(1);
    }
  }


@keyframes selectVertex {
    from { transform-origin: center;
        transform: scale(1); }
    to { transform-origin: center;
        transform: scale(2); }
  }

  @keyframes deselectVertex {
    from { transform-origin: center;
        transform: scale(2); }
    to { transform-origin: center;
        transform: scale(1); }
  } */

@keyframes pulseStroke {
    0%, 100% { stroke-width: 4; }
    50% { stroke-width: 10; }
}




.vertex.highlight {
    stroke-opacity: 0.5;
    animation: pulseStroke 1s infinite ease-in-out;
}

.vertex {
    transform-origin: center;
    scale: 2;
    stroke-width: 0;
}


.vertex:hover {
    fill: rgb(22, 235, 181);
    scale: 2;
}

.vertex.selected {
    fill: rgb(214, 245, 38);
    /* animation: selectVertex 0.5s ease-out forwards; */
}

.vertex.deselected {
    /* animation: deselectVertex 0.5s ease-out forwards; */
}



.vertex-inner-label {
    text-align: center;
    color: black;
    user-select: none;
}