#color_picker {
    position: fixed;
    background-color: var(--background_color_div);
    color: #000;
    border-radius: 5px;
    transition: 200ms;
    width: 41px;
    display: none;

    left: 72px;
    top: 154px;
}

.color_choice {
    margin: 5px;
    height: 20px;
    width: 30px;
    border-radius: 10px;
    border: 1px solid var(--color_div);
    box-sizing: border-box;
    /* padding: 15px; */
    transition: all 0.1s ease-in-out;
}

.color_choice:hover {
    /* height: 30px; */
    margin-left: 10px;
}

.color_choice.selected {
    border: 3px solid var(--color_div);
    /* padding: 13px; */
    height: 30px;
}

.color_picker_input {
    margin: 5px;
    height: 30px;
    width: 30px;
    border: 1px solid;
}