#loaded-parameters-div {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #000;
    display: flex;
    flex-direction: column;
}


.loaded-parameter {
    width: 130px;
    display: inline-flex;
}

.loaded-parameter:hover .param_name_result_container.hiding_buttons-3 {
    right: 60px;
}

.loaded-parameter:hover .param_name_result_container.hiding_buttons-2 {
    right: 40px;
}

.loaded-parameter:hover .param_name_result_container.hiding_buttons-1 {
    right: 20px;
}



.reload_img {
    cursor: pointer;
}


/* ??????? */



.param_name_result_container {
    z-index: 2;
    position: relative;
    right: 0px;
    width: 150px;
    text-align: right;
    background: var(--background_color_page);
    color: var(--background_color_div);
    cursor: default;
    transition: right 0.3s ease-in-out;
    padding-right: 3px;
    font-size: 14px;

    border-radius: 5px;
}

.hidden_buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 0;
    z-index: 1;
}

.hided_buttons-3 {
    right: 60px;
    width: 60px;
}

.hided_buttons-2 {
    right: 40px;
    width: 40px;
}

.hided_buttons-1 {
    right: 20px;
    width: 20px;
}



.hidden_button {
    width: 13px;

}

.hidden_button_div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden_trash {
    background: #ff2020;
}

.hidden_reload {
    background: #4141ff
}

.hidden_info {
    background: rgb(255, 177, 33);
    
}

.param-button-verbose {
    background: #007448
}

.param-button-verbose-img {
    width: 18px;
    cursor: pointer;
}

.div_button {
    font-weight: bolder;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-size: 20px;
}




.result_span {
    margin-left: 5px;
    justify-self: center;
}


.span_area_name_parametor {
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 8px;
    /* margin-right: 4px; */
    border: 2px solid var(--background_color_div);
    cursor: pointer;
}

.param_div_list_graph_container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




.boolean_result {
    /* width: 15px;
    height: 15px; */
    min-width: 15px;
    display: inline-block;
    min-height: 15px;
    transform: translateY(2px);
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
}

.inactive_boolean_result {
    background-color: #000;
}

.true_boolean_result {
    background-color: rgb(44, 138, 28);
}

.false_boolean_result {
    background-color: rgb(220, 15, 18);
}

.inactive_parametor {
    display: none;
}

.subgraph_parametors {
    /* margin: 4px 0; */
    margin-bottom: 12px;
    display: flex;
    align-items: end;
    flex-direction: column;
    /* background: #ffffff91; */
    border-radius: 5px;
    /* padding-top: 3px; */
    width: -moz-fit-content;
    width: fit-content;
    padding: 1px;
}

#subgraph_list {
    display: none;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-end;
}

.param_list_container {
    /* display: flex;
    flex-direction: column;
    position: relative; */
    top: 5px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
}


/* .param_list_container::after {
    content: "";
    height: 7px;
    width: 15px;
    border-right: var(--background_color_div) 1px solid;
    border-bottom: var(--background_color_div) 1px solid;
    margin-top: 1.2em;
    position: absolute;
    bottom: -2px;
    right: -4px;
} */

.parametor_name {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title_area_container {
    display: grid;
    grid-template-columns: 15px max-content 15px;
    justify-items: end;
    column-gap: 5px;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.load_new_parametor_button {
    opacity: 0.3;
    transition: opacity ease-in-out 0.1s;
    cursor: pointer;
    width: 15px;
}

.load_new_parametor_button:hover {
    opacity: 1;
}

.expand_button {
    cursor: pointer;
    width: 13px;
    justify-self: left;
    opacity: 0.3;
    transition: all ease-in-out 0.1s;
}

.expand_button:hover {
    opacity: 1;
}

.expanded {
    transform: rotate(90deg);
    opacity: 1;
}

.hidden_list {
    display: none !important;
}

.invalid_result {
    color: #bf7979;
}

#params_available_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.param_container {
    width: 60%;
}

.parametor-verbose {
    border: 1px solid white;
}
